<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What's My Name?</title>
        <link rel="stylesheet" types="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <script rel="text/javascript" src="script.js"></script>
    </head>
    <body>
        <div id="container">
            <form action='/process' method='post'>
                What is your name? <input type='text' name='name'>
                <input type='submit' value='create user'>
            </form>
        </div>
    </body>
</html>