<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Your name is...</title>
        <link rel="stylesheet" types="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <script rel="text/javascript" src="script.js"></script>
    </head>
    <body>
        <div id="container">
            <p>Your name is {{name}}!</p>
        </div>
    </body>
</html>